<%- include('partials/header') %>


<div class="error__message">
    <a target="_blank" href="https://www.google.com/search?q=<%=error%>">
        <%= error %>
    </a>
</div>

<%- include('partials/footer') %>