<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Devawan</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.4.1/css/bootstrap-reboot.css" integrity="sha256-85C3a9zSi7fgJ3oaIOIMFz+DNYvAgEE9QEKix2mzvzk=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/themes/prism.min.css" integrity="sha256-cuvic28gVvjQIo3Q4hnRpQSNB0aMw3C+kjkR0i+hrWg=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/main.css">
    <!-- https://coolors.co/44ffd1-6153cc-a60067-961d4e-360a14 -->
</head>
<body>

    <header>
        <h1>Devawan</h1> - Et si on se mettait à dev ? 
    </header>

    <section class="exercise__container">
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/prism.min.js" integrity="sha256-YZQM6/hLBZYkb01VYf17isoQM4qpaOP+aX96hhYrWhg=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.19.0/components/prism-javascript.min.js" integrity="sha256-g87nhVlyWjKmsk1hSfvqjr22ILWlzX/0LtHFXkLB6IU=" crossorigin="anonymous"></script>
    <script src="js/exerciseList.js"></script>
    <script src="js/app.js"></script>
</body>
</html>